div {
	/*border: 1px solid black;*/
	font-size: 28px;
	height: auto;
	padding: 8px 16px;
	/*width: 50%;*/
	text-shadow: 4px 4px 7px black;
	word-break: break-word;
	word-wrap: break-word;
	border-radius: 24px;
}
#div1 {
	background-color: #3f87d9;
}
#div2 {
	/*right: 0px;*/
	background-color: #d9d43f;
}
body {
	margin: 0;
	min-height: 100vh;
	background-image: url(img.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}
header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	position: relative;
	top: 16px; 
}

@media (max-width: 340px) {
	div {
		font-size: 16px;
		background-image: url(imgmini.jpg);
	}
}
@media (max-width: 207px) {
	div {
		font-size: 13px;
	}
}
